{% extends "base.html" %}
{% load static %}
{% block title %}訂單{% endblock %}
{% block content %}
    {% if verified %}
        <div class="container p-3 mb-2">
            <div class="row justify-content-md-center">
                <form name='my form' action='/order/list/{{ product_info.itemName }}' method='POST'>
                    {% csrf_token %}
                    <fieldset disabled>
                        <legend>購物車</legend>
                        <div class="mb-3">
                            <label for="disabledTextInput1" class="form-label">商品名稱</label>
                            <input type="text" id="disabledTextInput1" class="form-control"
                                   placeholder="{{ product_info.itemName }}">
                        </div>
                        <div class="mb-3">
                            <label for="disabledTextInput2" class="form-label">訂購日期</label>
                            <input type="text" id="disabledTextInput2" class="form-control"
                                   placeholder="{{ order_time_str }}">
                        </div>
                    </fieldset>
                    <div class="mb-3">
                        {{ order_list_form.as_table }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    {% else %}
        <div class="container p-3 mb-2">
            <div class="row justify-content-md-center">
                請先至個人信箱認證
            </div>
        </div>
    {% endif %}
    <div class="container mb-4">
        <div class="row">
            <!--未結帳-->
            <div class="col-12">
                <div class="table-responsive">
                    <div class="container mb-4">
                        <div class="row">
                            <div class="col-12" style="text-align:center;">
                                未結帳
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order_list in all_order_list %}
                            <tr>
                                <td><img src="https://dummyimage.com/50x50/55595c/fff"/></td>
                                <td>
                                    <a href="/productinfo/{{ order_list.product_item }}"
                                       style="color: #343a40">{{ order_list.product_item }}</a>
                                </td>
                                <td>In stock</td>
                                <td class="text-right">{{ order_list.qty }}</td>
                                <td class="text-right">{{ order_list.price }} NTD.</td>
                                <td class="text-right">
                                    <a href="/order/delete/{{ order_list.product_item }}/{{ order_list.order_time }}">
                                        <button class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        <!--計算總結帳-->
                        <tr>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><strong>${{ total_price_not_paid }} NTD.</strong></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <!--button class="btn btn-lg btn-block btn-light text-uppercase" href="/listing"-->
                        <a href="/listing" class="btn btn-lg btn-block btn-light text-uppercase">繼續購物</a>
                        <!--/button-->
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <!--payment_test-->
                        <!--button class="btn btn-lg btn-block btn-success text-uppercase">去結帳</button-->
                        {% if verified and all_order_list %}
                            <a href="/payment_test" class="btn btn-lg btn-block btn-success text-uppercase">去結帳</a>
                        {% else %}
                            <a href="/order/list/{{ product_info.itemName }}" class="btn btn-lg btn-block btn-success text-uppercase">去結帳</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>>

    <script>
        {% if alert %}
            alert("{{ alert }}");
        {% endif %}
        {% if message_add_cart %}
            alert("{{ message_add_cart }}");
        {% endif %}
        {% if message %}
            alert("{{ message }}");
        {% endif %}
    </script>
{% endblock %}

